<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="Dummy app for testing purposes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <img src="/static/img/rogerwilco.png" alt="Roger Wilco" id="roger">

  <p>UserAgent: {{ .UserAgent }}</p>
  <p>Version: {{ .Version }}</p>
  <a href="https://github.com/dotdc/rogerwilco">
    <img src="/static/img/github.png" alt="GitHub Logo" id="github">
  </a>
</body>
</html>